# Node.js dependencies
/server/node_modules

# Build artifacts
/build
/dist

# Environment variables
.env

# IDE and editor files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.bak
.DS_Store

# Log files
*.log
